<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Login Session</h1>

    <form action="/login" method="POST">
        {% csrf_token %}
        {{messages}}

        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
            First Name: <input type="text" name="first_name">

            Last Name: <input type="text" name="last_name">
            
            Email: <input type="text" name="email">

            Password: <input type="pasword" name="password">


            <button type="submit">
                Login
            </button>
    </form>
<br>

<h1>Register</h1>
    <form action="/register" method="POST">
        {% csrf_token %}
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="text" name="email">


            <button type="submit">
                Login
            </button>
    </form>

    
</body>
</html>